body
{
    background-color:#14110f;
    color:white;
    font-family:'Gayathri';
}
button{
    background-color:transparent;
    color:white;
    border-radius:25px;
    border:1px solid white;
}
.navbar
{
    color:white;
    width:100%;
    border-bottom: 1px solid white;



}
.links > *{
    padding:0 .5em 0 .5em;
    color:white;;
    text-decoration: none;
    font-family:'Gayathri'
}
.links-wrapper
{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width:97%;
}
.navbar ul
{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.navbar ul > li
{
    margin:.3em;
}

.main-page
{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    min-height:75vw;
}
.view-page{
    margin-left:1em;
    margin-right:1em;
}
.preview-post
{
    display:flex;
    flex-direction: row;
    margin:auto;
    border-bottom: 1px solid white;
    width:750px;
    margin-bottom:2em;
    padding-bottom:.5em;
    justify-content: space-between;
}
.preview-post .post-tags
{
    display:flex;
    flex-direction: row;
    font-family:'Arial Medium';
}
.preview-post .post-tags .post-tag
{
    margin-right:.5em;
    border:1px solid silver;
    color:silver;
    padding:0 .5em .2em .5em;
    margin-bottom: 1em;
    border-radius:25px;
    text-decoration: none;
    
}
.preview-post .title
{
    font-size:2em;
    font-weight:650;
    font-family: 'Rokkitt';
    width: 100%;
    text-transform: uppercase;
    
}
.preview-post .date
{
    color:silver;
    font-style: italic;
    text-transform: uppercase;
    height:auto;

}

.post-options
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:1em;
    
}
.post-button
{
    height:2.5em;
    width:2.5em;
    text-decoration: none;
    border:none;
    margin-bottom:1em;
    color:white;
    background-color: transparent;

}
.post-button i:hover{
    border:1px solid white;
    cursor:pointer;

}
.preview-post p
{
    overflow-y:hidden;
    height:50px;
    text-overflow: ellipsis;
}
.preview-post .byline
{
    padding:0;
    margin:0;
    height:auto;
}
.preview-post .link
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color:white;
}
/***fejwf***/
.dynamic-form
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
#form-picker
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.form-picker-img, .form-picker-text, .form-picker-heading
{
    border:1px dashed white;
    padding:1.5em;
    margin:.5em;


}

/***footer***/
.footer
{
    display:Flex;
    flex-direction: row;
    justify-content: center;
    border-top:1px solid white;
}

/***post***/

.post
{
    display:flex;
    flex-direction: row;
    margin:auto;
    margin-top:1em;
    margin-bottom:2em;
    padding-bottom:.5em;
    border-bottom:2px solid white;
    justify-content: center;
}

.post .post-tags
{
    border-bottom: 1px solid white;

    display:flex;
    flex-direction: row;
}
.post .post-tags .post-tag
{
    margin-right:.5em;
    border:1px solid silver;
    color:silver;
    padding:0 .5em .2em .5em;
    margin-bottom: 1em;
    border-radius:25px;
}
.post-tag:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
.post {
    border-bottom:1px solid white;
    padding-bottom:5em;
}
.post .title
{
    font-size:2.5em;
    font-weight:650;
    margin:0;
    width: 100%;
    text-transform:uppercase;
    letter-spacing: .1em;
    
}
.post-heading
{
    font-weight:500;
    text-align:center;
}
.post{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.post .date
{
    color:silver;
    font-style: italic;
    text-transform: uppercase;
    height:auto;

}
.post-text
{
}

h1{
    font-family:'Rokkitt';
    text-transform: uppercase;
}

.image, .text, .heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.post-button{

}
.read-more{
    margin-top:5em;
    width:100%;
}
.read-more:hover
{
    border-bottom:1px solid white;
    cursor:pointer;

}
/***form inputs**/
.dynamic-form{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-inputs-required{
    display:flex;
    flex-direction: column;
    text-align:left;
    justify-content: flex-start;
    align-items:flex-start;
}
.form-inputs-required input{
    width:550px;
    padding:.5em;
}
.form-input-heading{
    text-align: left;
    margin-top:1em;

}
.form-input-heading input{
    width:550px;
    padding:.5em;
    margin-bottom:.5em;

}
.component-button{
    color:whitesmoke;
    margin-right:.5em;
    margin-left:.5em;
}
.form-input-text{
    text-align:left;
    margin-top:1em;
}
.form-input{
    width:550px;
}
.form-input-image{
    width:100%;
}
.form-input-buttons i:not(:last-child){
    margin:0 1em 1em 0;

}
.form-input-text textarea{
    width:550px;
    height:75px;
    padding:.5em;
}
.form-inputs-required div{
    display:flex;
    flex-direction: column;
    margin-top:1em;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-input-image{
    margin-top:1em;
    text-align:left;
}
.form-input-image label{

}
.form-inputs-required label{
    margin:0;
    width:auto;
    width:100%;
}
.title{
    width:auto;
}


/***comment***/
.comment-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom:1em;
    margin-bottom:.5em;
    border-bottom:1px solid white;
}
.comment-box button{
    margin-left:.5em;
}
.comment-post{
    display:flex;
    padding-top:1em;
    border-bottom: 1px solid white;
    flex-direction: row;
}
.profile{
    padding:1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile img{
    height: 50px;
    width:50px;
}

/****loginform****/
.login-form
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-row-row{
    width:100%;

}
.post-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-image{
    height:100px;
    width:100px;
}
.post-post-image img{
    display:flex;
    justify-self: center;
    height:auto;
    width:auto;
}
.App{
    display:flex;
    flex-direction: column;
}
.footer{
    margin-top:2em;
}
/**comment**/
.comments{
    border-bottom: 2px solid white;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:2em;
}

.comments button{
    background-color:transparent;
    color:white;
    border:1px solid white;
    padding:.5em 1em .5em 1em;
}
.submit-button{
    padding:1em;
    width:6.5em;
    margin-top:1em;
    margin-bottom:1em;

}

/***spinner***/
.spinner{
    height: 1.5em;
    width:1.5em;
    border-radius:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:transparent;
    border:3px solid transparent;
    border-bottom-color: white;
    margin-top:1em;
    margin-bottom:1em;
    animation:1s infinite spinner;
}

@keyframes spinner{
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }

}

/***SETTU+INGS***/
.setting{
    margin-bottom:1em;
    padding:1em;
    border-bottom:1px solid white;
}
.setting {
}
.setting input{
    width:450px;
    padding:.5em;
    margin-top:.5em;
    margin-bottom:.5em;

}

.byline{
    color:white;
}

.link-tag{
    color:silver;
}
.links-alt-wrapper{
    display:none;
}



@media only screen and (max-width:500px){
    .preview-post p{
        overflow-x: hidden;
    }
    .main-page h1{
        text-align:center;

    }
    .dynamic-form{
        margin-left:1em;
        margin-right:1em;
    }
    .form-input{
        max-width:330px;
    }
    .form-input-required{
        display:flex;
        flex-direction: column;
        max-width: 330px;
        margin:0;
    }
    .posts-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .preview-post p{
        height: 100%;
    }
    .post-options{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin:0;
    }
    .preview-post{
        margin-bottom:1em;
        max-width:350px;
        display:flex;
        flex-direction: column;
    }
    .title{
        overflow: scroll;
    }
    .links-wrapper{
        display:none;
    }
    .links-alt-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        width:100%;
    }
    .links-alt{
        padding:.5em;
        
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin:0;
        width:100%;

    }
    .links-alt a{
        text-decoration: none;
        color:white;
        border-bottom:1px solid white;
    }
    
    .setting{
        width:350px;
    }
    .setting input{
        width:330px;
        
    }
    .comment-box textarea{
        width:100%;
        padding:.5em;
    }
    .read-more{
        margin-right:2em;
        justify-self: flex-end;
        margin-top:3em;
    }
    .links{
        display:none;
    }
}