body
{
    background-color:#34312D;
    color:white;
}
.navbar
{
    color:white;
    width:100%;
    border-bottom: 1px solid white;



}
.links-wrapper
{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width:97%;
}
.navbar ul
{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.navbar ul > li
{
    margin:.3em;
}

.main-page
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preview-post
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    border-bottom: 1px solid white;
    width:auto;
    margin-bottom:2em;
    padding-bottom:.5em;
}
.preview-post .post-tags
{
    display:flex;
    flex-direction: row;
}
.preview-post .post-tags .post-tag
{
    margin-right:.5em;
    border:1px solid silver;
    color:silver;
    padding:0 .5em .2em .5em;
    margin-bottom: 1em;
    border-radius:25px;
}
.preview-post .title
{
    font-size:2em;
    font-weight:650;
    margin:0;
    width: 100%;
    
}
.preview-post .date
{
    color:silver;
    font-style: italic;
    text-transform: uppercase;
    height:auto;

}

.post-options
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:1em;
    
}
.post-button
{
    height:2em;
    width:2em;


}
.preview-post p
{
    overflow-y:hidden;
    height:50px;
    text-overflow: ellipsis;
}
.preview-post .byline
{
    padding:0;
    margin:0;
    height:auto;
}
.preview-post .link
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color:white;
}
/***fejwf***/
.dynamic-form
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
.form-picker
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.form-picker > *
{
    border:1px solid white;
    padding:1em;
    margin-right:1em;

}