body
{
    background-color:#34312D;
    color:white;
}
.navbar
{
    color:white;
    width:100%;
    border-bottom: 1px solid white;



}
.links-wrapper
{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width:97%;
}
.navbar ul
{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.navbar ul > li
{
    margin:.3em;
}

.main-page
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preview-post
{
    display:flex;
    flex-direction: row;
    margin:auto;
    border-bottom: 1px solid white;
    width:750px;
    margin-bottom:2em;
    padding-bottom:.5em;
    justify-content: space-between;
}
.preview-post .post-tags
{
    display:flex;
    flex-direction: row;
}
.preview-post .post-tags .post-tag
{
    margin-right:.5em;
    border:1px solid silver;
    color:silver;
    padding:0 .5em .2em .5em;
    margin-bottom: 1em;
    border-radius:25px;
}
.preview-post .title
{
    font-size:2em;
    font-weight:650;
    width: 100%;
    
}
.preview-post .date
{
    color:silver;
    font-style: italic;
    text-transform: uppercase;
    height:auto;

}

.post-options
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:1em;
    
}
.post-button
{
    height:2.5em;
    width:2.5em;
    text-decoration: none;
    border:none;
    margin-bottom:1em;
    color:white;
    background-color: transparent;

}
.post-button i:hover{
    border:1px solid white;
    cursor:pointer;

}
.preview-post p
{
    overflow-y:hidden;
    height:50px;
    text-overflow: ellipsis;
}
.preview-post .byline
{
    padding:0;
    margin:0;
    height:auto;
}
.preview-post .link
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color:white;
}
/***fejwf***/
.dynamic-form
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
.form-picker
{
    display:flex;
    flex-direction: row;
    width:auto;
}
.form-picker-img
{
    border:1px dashed white;
    padding:1.5em;


}

/***footer***/
.footer
{
    display:Flex;
    flex-direction: row;
    justify-content: center;
    border-top:1px solid white;
}

/***post***/

.post
{
    display:flex;
    flex-direction: row;
    margin:auto;
    width:75%;
    margin-top:1em;
    margin-bottom:2em;
    padding-bottom:.5em;
    border-bottom:2px solid white;
    margin-left:1em;
    margin-right:auto;
}
.post .post-tags
{
    border-bottom: 1px solid white;

    display:flex;
    flex-direction: row;
}
.post .post-tags .post-tag
{
    margin-right:.5em;
    border:1px solid silver;
    color:silver;
    padding:0 .5em .2em .5em;
    margin-bottom: 1em;
    border-radius:25px;
}
.post .title
{
    font-size:2.5em;
    font-weight:650;
    margin:0;
    width: 100%;
    
}
.post-heading
{
    font-weight:500;
}
.post .date
{
    color:silver;
    font-style: italic;
    text-transform: uppercase;
    height:auto;

}
.post-text
{
}


.image, .text, .heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.post-button{

}
.read-more{
    margin-top:5em;
}
.read-more:hover
{
    border-bottom:1px solid white;
    cursor:pointer;

}
/***form inputs*((/*/
.form-inputs input
{
    background-color:red;

}

/***comment***/
.comment-post{
    display:flex;
    flex-direction: row;
}